@font-face {
  font-family: 'Sofia Pro Light';
  src: url('../fonts/SofiaProLight.woff') format('woff');
}

@font-face {
  font-family: 'Sofia Pro Regular';
  src: url('../fonts/SofiaProRegular.woff') format('woff');
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/Brandon_med.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

h2 {
  font-family: 'Brandon Grotesque';
  font-size: 36px;
  letter-spacing: 0.2px;
  font-weight: normal;
  line-height: 30px;

  position: relative;
  -webkit-margin-before: 0em;
  top: 0%;
}

p{
  font-family: 'Sofia Pro Regular';
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 140%; 
  font-weight: normal;

  display: block;
  position: relative;
  -webkit-margin-before: 3em;
}

a {
   text-decoration: none;
}



.nav_container {
  position: absolute;
  width: 100%;
  top: 40px;

  display: inline-block;
  text-align: center;
}


.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Brandon Grotesque';
  display: inline-block;

  margin-left: 20px;
}

.logo {

  margin-left: 13px;
  margin-right: 13px;
}

.menu li {
  display: inline-block;
  /*padding-top: 10px;*/
}

.menu_link {
  padding: 16px;

}

.menu li a {
  color: rgba(255, 255, 255, 0.5);
}

.first_section {
  width: 100%;
  height: 100%;
  background-image: url(../images/home-bg-1.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding-bottom: 7%;
}

.big_image {
  width: 50%;
  min-width: 256px;
  height: auto;
  position: relative;
  top: 260px;
}



/* ------ second_section------*/


.second_section {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f2efe3;
  padding-top: 100px;
  padding-bottom: 10%
}


.second_section_content {
  width: 100%;
  position: relative;
}


.second_section_left {
  position: relative;
  display: inline-block;
  width: 37.5%;
  padding-left: 12.5%;

}


.big_stamp{
  width: 40%;
  height: auto;
  padding-left: 5%;
  left: 5%;
  position: absolute;
  min-width: 180px;
  max-width: 230px;
}

.small_stamp{
  position: absolute;
  left: 73%;
  bottom: -11%;
  width: 24%;
  height: auto;
  min-width: 120px;
  max-width: 140px;
}


.second_section_right {
  display: inline-block;
  /*width: 50%;*/


}

.aboutus_image{
  width: 35%;
  max-width: 550px;
  /*min-width: 200px;*/
  height: auto;
  position: absolute;
  right: 8%;
  top: 0%; 

}



/* ------ third_section------*/

.third_section {
  position: relative;
  width: 100%;
  height: auto;
  background-image: url(../images/home-bg-2.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 130px;
}

.third_section_content {
  padding: 0% 12.5%;
    text-align: left;
}

.third_section_content h2 {
  color: white;
}

.third_section_content p{
  color: white; 
}

.third_section_menu {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-top: 0%;
  text-align: center;
}

.menu_main {
  position: relative;
  display: inline-block;
  width: 130px;
  /*padding: 2.0%;*/
  padding: 24px;
}

.menu_latenight {
  position: relative;
  display: inline-block;
  width: 130px;
  /*padding: 2.0%;*/
  padding: 24px;
}

.menu_kids {
  position: relative;
  display: inline-block;
  width: 130px;
  /*padding: 2.0%;*/
  padding: 24px;

}

.menu_drinks {
  position: relative;
  display: inline-block;
  width: 130px;
  /*padding: 2.0%;*/
  padding: 24px;
}

.fourth_section {
  width: 100%;
  height: auto;
  background-color: #000000;
  position: relative;
  padding-top: 100px;
}


.fourth_section_content {
  position: relative;
  padding: 0% 12.5%;
  text-align: left;
}

.fourth_section_content h2 {
  color: white;
}

.fourth_section_content p{
  color: white; 
}

.fourth_section_content_left {
  position: relative;
  display: inline-block;
  width: 47.5%;
  top: -12px;
}

.form_1line {
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
  height: 40px;
  margin-bottom: 0px;
  padding: 0px 16px;
  border: solid 1px #ffffff;

  font-size: 14px;
  font-family: 'Brandon Grotesque';
}

.form_2line {
  background-color: rgba(255, 255, 255, 0.75);
  width: 50%;
  height: 40px;
  margin-bottom: 0px;
  padding: 0px 16px;
  border: solid 1px #ffffff;

  font-size: 14px;
  font-family: 'Brandon Grotesque';
}

.form_textarea {
 /* clear: both;*/
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
  height: 130px;
  margin-bottom: 0px;
  padding: 0px 16px;
  border: solid 1px #ffffff;

  font-size: 14px;
  font-family: 'Brandon Grotesque';
  resize: none;
}

.submitbutton {
  width: 100%;
  height: 48px;
  background-color: #f2efe3;
  border: solid 1px #ffffff;

  font-size: 14px;
  font-family: 'Brandon Grotesque';
}


.fourth_section_content_right {
  position: relative;
  display: inline-block;
  width: 47.5%;
  padding-left: 5%;
  top: -9px;
}

hr {
width: 100%;
position: relative;
top: 0px;
}

.fourth_section_content_right_hour h3 {
  color: #ffffff;
  font-family: 'Brandon Grotesque';
  font-size: 14px;
  font-weight: normal;
  line-height: 10px;
}

.fourth_section_content_right_hour p {
  -webkit-margin-before: -.65em;
  font-family: 'Sofia Pro Light'
}

.fourth_section_content_right_map {
  position: relative;
  display: inline-block;
  width: 100%;
  top: 16px;
}

.map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);


}

/*-------MOBILE--------*/

@media only screen and (max-width: 750px) {
  .small_image {
    display: none;
  }

  .location {
    display: none;
  }

  .nav_container .right {
    display: block;
    position: relative;
  }


  .second_section {
  width: 100%;
  height: auto;
  background-color: #f2efe3;
  /*position: relative;*/
  padding-top: 80px;
  padding-bottom: 11%;
}

.second_section_content {
  width: 100%;
  display: : block;
  position: relative;
  
}


  .second_section_left {
    /*position: relative;*/
    display: block;
    position: relative;
    width: 87%;
    padding: 0% 6.5%;
  }


.second_section_left p {
  display: block;
}


  .big_stamp{
    display: none;
  }

  .small_stamp{
    display: none;
  }


  .second_section_right {
    display: none;

  }


.third_section {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 10%;
}

.third_section_content {
  padding: 0% 6.5%;
    text-align: left;
}


.third_section_menu {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-top: 0%;
  text-align: center;
}

.menu_main {
  position: relative;
  display: inline-block;
  width: 130px;
  /*padding: 2.0%;*/
  padding: 12px;
}

.menu_latenight {
  position: relative;
  display: inline-block;
  width: 115px;
  /*padding: 2.0%;*/
  padding: 12px;
}

.menu_kids {
  position: relative;
  display: inline-block;
  width: 115px;
  /*padding: 2.0%;*/
  padding: 12px;

}

.menu_drinks {
  position: relative;
  display: inline-block;
  width: 115px;
  /*padding: 2.0%;*/
  padding: 12px;
}


}


