@font-face {
  font-family: 'Sofia Pro Light';
  src: url('../fonts/SofiaProLight.woff') format('woff');
}

@font-face {
  font-family: 'Sofia Pro Regular';
  src: url('../fonts/SofiaProRegular.woff') format('woff');
}

@font-face {
  font-family: 'Sofia Pro Bold';
  src: url('../fonts/SofiaProBold.woff') format('woff');
}

@font-face {
  font-family: 'Brandon Grotesque Medium';
  src: url('../fonts/Brandon_med.otf') format('woff');
}

@font-face {
  font-family: 'Brandon Grotesque Regular';
  src: url('../fonts/Brandon_reg.otf') format('woff');
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

h2 {
  font-family: 'Brandon Grotesque';
  font-size: 36px;
  letter-spacing: 0.2px;
  font-weight: normal;
  line-height: 30px;

  position: relative;
  -webkit-margin-before: 0em;
  top: 0%;
}

p{
  font-family: 'Sofia Pro Regular';
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 140%;
  font-weight: normal;

  display: block;
  position: relative;
  -webkit-margin-before: 3em;
}

a {
  text-decoration: none;
}

.error {
  background-color: lightsalmon;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
}

.flash {
  background-color: lightgreen;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
}

.nav_container {
  background-color: #000000;
  position: absolute;
  width: 100%;
  text-align: center;
}

.nav_link:hover {
  color: gold;
}

.menu {
  position: relative;
  list-style-type: none;
  padding: 0;
  font-size: 12px;
  font-family: 'Brandon Grotesque';
  letter-spacing: 1px;

  margin-left: 28px;
  margin-top: 40px;
  line-height: 55px;

}

.logo {
  margin: 0 5px;

  top: 0px;
  vertical-align: middle;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  width: 100px;

  z-index: 1;
  text-align: left;
  padding: 20px 20px;
  line-height: 25px;
  left: 0px;
}

.dropdown-content a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color:#baa965;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .logo {
  background-color: orange;
}

.menu li {
  display: inline-block;
  margin: 0px 18px;
}

.menu li a {
  color: rgba(255, 255, 255, 0.5);
}

/* ------ first section------*/

.first_section {
  width: 100%;
  height: 110%;
  background-image: url(../images/home-bg-1.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding-bottom: 7%;
}

.big_image {
  width: 50%;
  min-width: 256px;
  height: auto;
  position: relative;
  top: 260px;
}



/* ------ second section------*/

.second_section {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f2efe3;
  padding-bottom: 10%
}


.second_section_content {
  width: 100%;
  position: relative;
  padding-top: 100px;
}

.second_section_left {
  position: relative;
  display: inline-block;
  width: 37.5%;
  padding-left: 12.5%;

}


.big_stamp{
  width: 40%;
  height: auto;
  padding-left: 5%;
  left: 5%;
  top: 10%;
  position: absolute;
  min-width: 180px;
  max-width: 230px;

}

.small_stamp{
  position: absolute;
  left: 73%;
  bottom: -10%;
  width: 24%;
  height: auto;
  min-width: 120px;
  max-width: 140px;
}


.second_section_right {
  display: inline-block;
  /*width: 50%;*/


}

.aboutus_image{
  width: 50%;

  height: auto;
  position: absolute;
  right: 0%;
  top: 0px;

}



/* ------ third section------*/

.third_section {
  position: relative;
  width: 100%;
  height: auto;
  background-image: url(../images/home-bg-2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding-bottom: 130px;
}

.third_section_content {
  padding: 100px 12.5% 0px 12.5%;
  text-align: left;
}

.third_section_content h2 {
  color: white;
}

.third_section_content p{
  color: white;
}

.third_section_content a {
  font-family: 'Sofia Pro Regular';
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 1px;
  font-weight: 700;
}



.third_section_content a:hover {
  color: rgb(255, 255, 255);

}



.third_section_menu {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-top: 0%;
  text-align: center;
}

.third_section_menu a {
  font-family: 'Brandon Grotesque Regular';
  font-size: 16px;
  color: rgba(255, 255, 255, 0.55);
  letter-spacing: 1px;
  text-decoration: none;
}

.third_section_menu_col {
  position: relative;
  display: inline-block;
}

.menu_main {
  background-image: url('/images/main_off.jpg');
  position: relative;
  display: inline-block;
  width: 130px;
  height: 130px;
  margin: 24px;
}


.menu_main a {
  line-height: 130px;
}

.menu_main:hover {
  background-image: url('/images/main_on.jpg');
}

.menu_latenight {
  background-image: url('/images/latenight_off.jpg');
  position: relative;
  display: inline-block;
  width: 130px;
  height: 130px;
  margin: 24px;

}

.menu_latenight a {
  padding: 55px 16px;
  line-height: 130px;
}


.menu_latenight:hover {
  background-image: url('/images/latenight_on.jpg');
}

.menu_kids {
  background-image: url('/images/kids_off.jpg');
  position: relative;
  display: inline-block;
  width: 130px;
  height: 130px;
  margin: 24px;
}

.menu_kids a {
  padding: 55px 46px;
  line-height: 130px;
}

.menu_kids:hover {
  background-image: url('/images/kids_on.jpg');
}

.menu_drinks a {
  padding: 55px 34px;
  line-height: 130px;
}

.menu_drinks {
  background-image: url('/images/drinks_off.jpg');
  position: relative;
  display: inline-block;
  width: 130px;
  height: 130px;
  margin: 24px;
}

.menu_drinks:hover {
  background-image: url('/images/drinks_on.jpg');
}

/* ------ fourth section------*/

.fourth_section {
  width: 100%;
  height: auto;
  background-color: #000000;
  position: relative;
  padding-bottom: 50px;
}


.fourth_section_content {
  position: relative;
  padding: 100px 12.5% 0px 12.5%;
  text-align: left;
}

.fourth_section_content h2 {
  color: white;
}

.fourth_section_content p{
  color: white;
}

.fourth_section_content_left {
  position: relative;
  display: inline-block;
  width: 47.5%;
  top: -12px;
}

input {
  background-color: rgba(255, 255, 255, 0.75);
  margin-bottom: 0px;
  padding: 0px 16px;
  border: solid 1px #ffffff;

  font-size: 14px;
  font-family: 'Brandon Grotesque';
  font-weight: 500;
}


input[type=text] {
  font-family: 'Sofia Pro Regular';
  font-size: 14px;
  letter-spacing: 0.9px;
}

.form_1line {
  width: 100%;
  height: 40px;
}

.form_2line {
  width: 50%;
  height: 40px;
}

.form_textarea {
  width: 100%;
  height: 130px;
  padding: 10px 16px;
  border: solid 1px #ffffff;
  text-align: top;
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  font-family: 'Brandon Grotesque';
  font-weight: 500;
  resize: none;
}

.submitbutton {
  width: 100%;
  height: 48px;
  background-color: #f2efe3;
  border: solid 1px #ffffff;

  font-size: 14px;
  font-family: 'Brandon Grotesque';
  color: rgba(0, 0, 0, 0.25);
  font-weight: 500;
}


.fourth_section_content_right {
  position: relative;
  display: inline-block;
  top: -11px;
  width: 47.5%;
  padding-left: 5%;
}

hr {
  width: 100%;
  position: relative;
  top: -5px;
}

.fourth_section_content_right_hour h3 {
  color: #ffffff;
  font-family: 'Brandon Grotesque';
  font-size: 14px;
  font-weight: normal;
  line-height: 10px;
  -webkit-margin-before: -1em;
}

.fourth_section_content_right_hour h4 {
  color: #ffffff;
  font-family: 'Brandon Grotesque';
  font-size: 14px;
  font-weight: normal;
  line-height: 10px;

  -webkit-margin-before: .3em;
  -webkit-margin-after: 1em;
}

.fourth_section_content_right_hour p {
  -webkit-margin-before: -.65em;
  font-family: 'Sofia Pro Light'
}

.service_hour1 {
  position: relative;
  display: inline-block;
  width: 50%;
}

.service_hour2 {
  position: relative;
  display: inline-block;
  width: 50%;
  text-align: right;
}

.fourth_section_content_right_map {
  position: relative;
  display: inline-block;
  width: 100%;
  top: 16px;
}

.map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* ------ footer ------*/

.footer {
  height: 120px;
  background-color: #000000;
  margin-top: -50px;
  text-align: center;

}

.footer p{
  font-family: 'Sofia Pro Light';
  font-size: 10px;
  line-height: 1.7;
  color: #ffffff;
  font-weight: normal;
}

.footer_icons {
  width: 20px;
  margin: 18px;
}

/*--------------MENU PAGE--------------*/


.menu_page {
  background-color: #f2efe3;
  text-align: center;
  padding-top: 10%;
}


.menu_title_left {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 37.5%;
  padding-left: 12.5%;

  line-height: 50px;
  vertical-align: middle;
}

.menu_title_left h2 {
  margin-bottom: 0px;

}

.menu_title_right {
  position: relative;
  display: inline-block;
  text-align: right;
  width: 37.5%;
  padding-right: 12.5%;
}

.menu_download_button {
  position: relative;
  border: solid 1px #35200d;
  padding: 12px 60px;

  font-size: 14px;
  font-family: 'Brandon Grotesque';
  color: #000000;

}

.menu_container {
  position: relative;
  width: 75%;
  padding: 0px 12.5%;
}

.menu_food {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Brandon Grotesque';


  margin-top: 20px;
  line-height: 48px;
  background-color: #000000;

}

.menu_food li {
  display: inline-block;
  margin: 0px;
  width: 18%;
}

.menu_food li a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-family: 'Brandon Grotesque';
  letter-spacing: 1px;
}


.menu_food_items {
  width: 75%;
  margin: 0px 12.5%;
  background-color: #ffffff;
  text-align: left;
}

.menu_food_items h3 {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 0.3em;
  font-family: 'Sofia Pro Bold';
  font-size: 14px;
  letter-spacing: 1px;
}

.menu_food_items p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.veg{
  padding-left: 2%;
  padding-bottom: 7px;
}

.menu_food_items_col {
  position: relative;
  display: inline-block;
  width: 47%;
  padding-left: 2%;
  text-align: left;
  vertical-align: top;
}


.thick_line hr {
  margin-left: 0px;
  text-align: left;
  border: 1px solid;
  top: -1px;
}

.thin_line hr {
  width: 100%;
  margin-left: 0px;
  text-align: left;
  border: 0.5px dashed;
  top: -8px;

}

.item_name {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  line-height: 140%;
  font-size: 14px;
  font-family: 'Sofia Pro Regular';
  width: 90%;
}

.item_price {
  position: relative;
  display: inline-block;
  line-height: 140%;
  font-size: 14px;
  font-family: 'Sofia Pro Light';
  text-align: right;
  width: 8%;
}

.item_description {
  position: relative;
  display: inline-block;
  line-height: 140%;
  width: 90%;
  font-size: 14px;
  font-family: 'Sofia Pro Light';
}

/*--------------DRINK PAGE--------------*/

.drink_items_col {
  position: relative;
  display: inline-block;
  width: 47%;
  padding-left: 2%;
  text-align: left;
  vertical-align: top;
}

.drink_name {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Sofia Pro Regular';
  width: 38%;
}

.drink_style {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Sofia Pro Regular';
  width: 50%;
}

.maker_name {
  position: relative;
  display: inline-block;
  width: 38%;
  font-size: 14px;
  font-family: 'Sofia Pro Light';
}

.maker_location {
  position: relative;
  display: inline-block;
  width: 50%;
  font-size: 14px;
  font-family: 'Sofia Pro Light';
}

.drink_price {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-family: 'Sofia Pro Light';
  text-align: right;
  width: 12%;
}

.nonalc_col {
  position: relative;
  display: inline-block;
  width: 47%;
  text-align: left;
  vertical-align: top;
}

.nonalc_div {
  position: relative;
  display: inline-block;
  width: 6%;
}

.nonalc_name {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Sofia Pro Regular';
  height: 18px;
  width: 90%;
}

.nonalc_price {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-family: 'Sofia Pro Light';
  height: 18px;
  text-align: right;
  width: 10%;
}

/*-------MOBILE--------*/

@media only screen and (max-width: 720px)  {
  .logo {
    display: none;
  }

  .menu {
    margin-left: 0px;
  }

  .second_section_left {
    display: block;
    position: relative;
    width: 87%;
    padding: 0% 6.5%;
  }

  .big_stamp{
    display: none;
  }

  .small_stamp{
    display: none;
  }

  .second_section_right {
    display: none;

  }

  .third_section_content {
    padding: 100px 6.5% 0px 6.5%;
  }

  .menu_main {
    margin: 12px;
  }

  .menu_latenight {
    margin: 12px;
  }

  .menu_kids {
    margin: 12px;
  }

  .menu_drinks {
    margin: 12px;
  }

  .fourth_section {
    padding-bottom: 200px;
  }

  .fourth_section_content {
    position: block;
    padding: 100px 6.5% 0px 6.5%;

    display: flex;
    flex-flow:column-reverse nowrap
  }

  .fourth_section_content_left {
    display: block;
    width: 100%;
    top: 130px;

  }

  .fourth_section_content_right {
    display: block;
    width: 100%;
    top: 20px;
    padding-left: 0%;

  }

  .fourth_section_content_right_hour h3 {
    font-family: 'Brandon Grotesque';
    font-size: 36px;
    letter-spacing: 0.2px;
    font-weight: normal;
    line-height: 1.11;

    position: relative;
    -webkit-margin-before: 0em;
    top: 0%;
  }

  .fourth_section_content_right_hour h4 {
    position: relative;
    -webkit-margin-before: 3.5em;
    top: 0%;
  }

  .fourth_section_content_right_hour hr {
    display: none;
  }

  .menu_food_items_col {
    position: relative;
    display: block;
    width: 96%;
  }


}

/*-------Menu Page--------*/
@media only screen and (max-width: 1235px) and (min-width: 665px) {



  .drink_items_col {
    position: relative;
    display: block;
    width: 96%;
  }
}

@media only screen and (max-width: 665px) {

  .menu_food_items_col {
    position: relative;
    display: block;
    width: 96%;
  }

  .drink_items_col {
    display: block;
    width: 96%;
  }

  .drink_name{
    width: 80%;
  }

  .maker_name{
    width: 80%;
  }

  .drink_price{
    width: 20%;
  }

  .drink_style {
    display: none;
  }

  .maker_location {
    display: none;
  }
}
